.row {
  display: flex;
  justify-content: center;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
#gameCards, #playerCards {
  /*background-color: darkgreen;*/
  padding-top: 1em;
  padding-bottom: 1em;
}