body {
  color: white;
  background-color: #000000;
  font-family: monospace, "Courier New", Courier;
  font-size: 1rem;
}

input {
  color: white;
  background-color: #333333;
  border-radius: 2px;
  border: none;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

label {
  float: left;
  width: 4rem;
  display: flex;
  align-items: center;
}

p {
  font-size: 0.8rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

button {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  height: 2rem;
}

#info {
  flex-direction: column;
  align-items: left;
}

#join, #leave {
  height: 3rem;
}

#header {
  height: 5rem;
  max-height: 5rem;
  overflow: hidden;
}

#main {
  background-color: darkgreen;
  display: flex;
  flex-wrap: wrap;
  border-radius: 4px;
  width: 100%;
}

#table {
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}

#footer {
  background-color: #333333;
  height: 20vh;
  max-height: 20vh;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 0.2rem;
}

#bdealer, #bplayer {
  height: 3rem;
  flex-direction: row;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 20%;
}

#gameCards, #playerCards {  
  height: 96px;
}