body {
  color: white;
  background-color: #000000;
  font-family: monospace, "Courier New", Courier;
  font-size: 1rem;
}

input {
  color: white;
  background-color: #333333;
  border-radius: 2px;
  border: none;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

label {
  float: left;
  width: 4rem;
  display: flex;
  align-items: center;
}

p {
  font-size: 0.8rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

button {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  height: 2rem;
}

#info {
  flex-direction: column;
}

#buttons {
  align-items: flex-start;
  margin: auto;
}

#links {
  align-items: flex-start;
  margin-left: auto;
}

#playerBox {
  background-color: #999999;
  display: block;
}

#join, #leave {
  height: 4rem;
  width:  4rem;
}

#header {
  height: 5rem;
  max-height: 5rem;
  overflow: hidden;
}

#main {
  background-color: darkgreen;
  display: flex;
  flex-wrap: wrap;
  border-radius: 4px;
  width: 100%;
}

#table {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  width: 100%;
}

#gameCards, #playerCards {
  height: 96px;
}

#gameCards {
  justify-content: center;
}

#messages {
  height: 25vh;
  width: 100%;
  overflow: hidden;
  background-color: #333333;
  display: block;  
}

#footer {
  border-radius: 4px;
  margin-top: 0.2rem;
}

#bdealer, #bplayer {
  height: 3rem;
  flex-direction: row;
}

.tinyCard {
  width: 36px;
  height: 48px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
  width: 100%;
  height: 100%;
}

.column {
  display: flex;
  align-items: center;
  height: 100%;
}

/* Fade-in animation for images */
.fade-in-image {
  animation: fadeIn 0.5s;
  -webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  -o-animation: fadeIn 0.5s;
  -ms-animation: fadeIn 0.5s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@media only screen and (max-width: 640px) {
}
